/* #titleArea {
    background-image: url("../img/Sunny_Beach.jpg");
    height: fit-content;
    width: fit-content;
    background-position: center;
} */
#pageTitle {
    text-align: center;
    font-family: 'Ruthie', cursive;
    font-size: 55px;
    margin-bottom: -30px;
}

.pageHeaderLeft {
    padding-top: 25px;
    font-size: 25px;
    font-family: 'Timmana', sans-serif;
}
#titleImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#pageHeaderRight {
    padding-top: 25px;
}